meta(property="og:title", content="sharky.cool")
meta(property="og:content", content="Index of " + path)
meta(property="og:url", content="https://sharky.cool" + path)
meta(property="theme-color", content="#4FA1CA")
link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/solid.css", integrity="sha384-+0VIRx+yz1WBcCTXBkVQYIBVNEFH1eP6Zknm16roZCyeNg2maWEpk/l/KsyFKs7G", crossorigin="anonymous")
link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/fontawesome.css", integrity="sha384-jLuaxTTBR42U2qJ/pm4JRouHkEDHkVqH0T1nyQXn1mZ7Snycpf6Rl25VBNthU4z0", crossorigin="anonymous")
style
    | * { font-family: "Open Sans"; sans-serif; }
    | li { list-style-type: none; margin: 5px 0; }
    | a { color: #0074D9!important; }

div(style="position: fixed; bottom: 20px; right: 20px;")
    span Last Commit:&nbsp;
    a(href="https://github.com/jdeurt/sharky.cool/commit/" + lastCommitID)= lastCommitID
div(style="background-color: #4FA1CA; padding: 20px 40px; display: flex; align-items: center;")
    a(href="https://sharky.cool" style="text-decoration: none;")
        img(src="/sharky.cool.svg", style="width: 100px; margin-right: 20px;")
    a(href="https://sharky.cool" style="text-decoration: none;")
        h1(style="margin-right: 10px; color: black;") sharky.cool
    h2(style="opacity: 0.5;")= path
ul
    unless path == "/"
        li
            strong
                a(href="..", style="") ../
    if folders
        each folder in folders
            li
                a(href=path + folder)
                    i.fas.fa-folder-open
                span &nbsp;
                if folder == "stuff" && path == "/"
                    a(href=folder)= folder + "/"
                    span &nbsp;<-- CLICK HERE FOR COOL SHIT
                else
                    a(href=folder)= folder + "/"
    if files
        each file in files
            li
                a(href="/api/files/download?path=" + path + file)
                    i.fas.fa-file-download
                span &nbsp;&nbsp;
                a(href=file)= file
    if redirs
        each redir in redirs
            li
                a(href=redir)
                    i.fas.fa-link
                span &nbsp;
                a(href=redir)= redir
